.merge-work-item-changesets {
	padding: 32px;
	margin: 0px;
}

.merge-work-item-changesets-branch {
	margin-bottom: 20px;
}

.merge-work-item-changesets-branch-label {
	font-weight: 500;
}

.merge-work-item-changesets-branch-description {
	font-weight: 500;
	color: gray;
}
